<p id="notice"><%= notice %></p>

<p>
  <b>Pdf:</b>
  <%= @format.pdf %>
</p>

<p>
  <b>Kindle:</b>
  <%= @format.kindle %>
</p>

<p>
  <b>Epub:</b>
  <%= @format.epub %>
</p>


<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
