<p id="notice"><%= notice %></p>

<p>
  <b>Bitcoin:</b>
  <%= @payment.bitcoin %>
</p>

<p>
  <b>Paypal:</b>
  <%= @payment.paypal %>
</p>

<p>
  <b>Account:</b>
  <%= @payment.account %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
