<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @review.content %>
</p>

<p>
  <b>Timeofthereview:</b>
  <%= @review.timeofthereview %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
